/* Estilos Globales */
body {
    background: #fff5cf url("images\Background.mp4") no-repeat center;
    background-size: cover;
    
    /*Tipografía Inter Global*/
    font-family: 'Inter';
    font-style: normal;
    line-height: 150%;
    font-weight: 400;  
}

img {
    width: fit-content;
    height: auto;
}

.oso {
    height: 400px;
}

/*Botones Global*/
input {
    height: 4rem;
    padding: 1rem;
    border-radius: 1.5rem;
    font-family: 'Inter';
    font-size: 1rem;
    line-height: 150%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;
}

h2 {
    font-size: 1.5rem;
    line-height: 120%;
    font-weight: 700;
    color: #ffffff;
}

/* Cabecera */
header, main {
    padding: 0 3%;
}

.logo-alura {
    position: absolute;
}

/* Cuerpo */
main {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    gap: 6%;
    margin: 2rem 0;
}

/* Bloque Izquierdo: Encriptador */
.bloque-izq {
    flex: 1 50%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding-left: 10%;
}

.bloque-izq textarea {
    flex: 1 100%;
    background-color: #8548ffe9;
    font-family: 'Inter';
    font-size: 2rem;
    line-height: 150%;
    color: #ffffff;
    border: 0;
    border-radius: 2rem;
    resize: unset;
    padding: 2rem 5%;
    height: 177px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.3);
}

.bloque-izq textarea::placeholder {
    opacity: 1;
    color: #ffffff;
}

.indicacion {
    flex: 1 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

.indicacion p {
    display: inline-block;
    color: rgb(255, 39, 129);
    font-size: 1.00rem;
}

.botones {
    flex: 1 100%;
    display: flex;
    flex-flow: row;
    gap: 1.5rem;
    margin-top: 1rem;
}

.botones input {
    flex: 1 50%;
}

.btn-encriptar {
    background-color: #dd3cb7;
    border: 0;
    color: rgb(255, 255, 255);
}

.btn-desencriptar, .btn-copiar {
    background-color: unset;
    border: 1.5px solid #ff5e00;
    color: #ff631b;
}

/* Bloque Derecho: Instrucción y Mensaje */
.bloque-der {
    flex: 1 34%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #8548ffe9;
    border-radius: 2rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.3);
}

/* Instrucción */
.instruccion {
    flex: 1 100%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 7.5%;
}

.instruccion img {
    width: max-content;
}

.textos {
    margin-top: 2rem;
    text-align: center;
}

.textos p {
    margin-top: 1rem;
    color: #ffffff;
}

/* Mensaje de Resultado */
.mensaje {
    flex: 1 100%;
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    padding: 7.5%;
}

.mensaje textarea {
    flex: 1 100%;
    background-color: unset;
    font-family: 'Inter';
    font-size: 1.5rem;
    line-height: 150%;
    color: #4e3e55;
    border: 0;
    resize: unset;
    height: 328px;
}

.btn-copiar {
    flex: 1 100%;
    margin-top: 2rem;
}

/* Botones Hover y Active */
.btn-encriptar:hover {
    background-color: #a43dab;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.btn-desencriptar:hover, .btn-copiar:hover {
    border: 0;
    background-color: #ff7f16;
    color: rgb(255, 255, 255);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn-encriptar:active, .btn-desencriptar:active, .btn-copiar:active {
    transform: scale(0.9);
}

/* Footer */
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    background-color: #fb279b;
    padding: 1rem;
}

footer p {
    display: inline-flex;
    gap: 0.3rem;
    font-size: 0.875rem;
    color: rgb(0, 0, 0);
}

footer strong {
    font-weight: 700;
}